node_modules
.env
dist
.vscode
.DS_Store 
coverage
npm-debug.log 
yarn-error.log
.idea
*.log
*.tsbuildinfo
/build
.cache
.next
out
*.local
*.swp
*.swo 
*.bak
*.tmp
*.old
*.orig
*.rej
*.class
*.war
*.jar
*.iml
*.log.*
*.pid
*.seed
*.pid.lock
*.gz
*.zip
*.tar
*.rar
*.7z
*.exe 
*.dll
*.so